extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password? Submit a patch request with your new password and password confirm to: #{url}.
    p We're all a big familiy here, so make sure to upload your user photo so we get to know you a bit better!
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Your Password
    p if you do not forget your password please ignore this email