footer.footer 
  .footer__logo 
    img(src='/img/logo-green.png' alt='natours-logo')
  ul.footer__nav 
    li: a(href='#') About us
    li: a(href='#') Download App 
    li: a(href='#') Become a guide 
    li: a(href='#') Careers 
    li: a(href='#') Contact 
  p.footer__copyRight &copy; by Umair Ali, Feel free to use this project for your 
  own purpose, Except producing your own course and tutorials